body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout-container {
  display: flex;
}

.layout-left {
  flex: 1;
}

.layout-right {
  flex: 2;
}

.email-list-card-container {
  background-color: gainsboro;
  margin: 5px;
  padding: 15px;
  border-radius: 20px;
}
.email-list-card-container:hover {
  background-color: rgb(169, 169, 169);
}

.email-list-card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.email-list-card-sender {
  font-size: small;
}
